body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 400px;
    height: 500px;
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
}

.drink-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.drink {
    width: 90px;
    height: 120px;
    border: 1px solid #444;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
}

.drink-btn {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 12px;
    background: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}