body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 400px;
    height: 520px;
    background-color: red;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
    position: relative;
}

.display p {
    margin: 4px 0;
    font-weight: bold;
}

.drink-list1, .drink-list2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.drinkItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    padding: 8px;
    width: 30px;
}

.drink {
    background-color: white;
    border-radius: 8px;
    width: 70px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drinkButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.price {
    font-size: 14px;
    color: black;
    background: white;
    border-radius: 2px;
    padding: 0px 5px 0px 5px;
}

.message {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0;
    margin-right: 25px;
    margin-bottom: 30px;
}

.moneyWindow {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background-color: black;
    color: lime;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.returnBox {
    width: auto;
    height: 100px;
    background: gray;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

.controlButton {
    background: none;
    border: none;
    padding: 0;
}

.controlButton img {
    display: block;
}